<div id="bottom-of-site-begin"></div>
<div id="wrapper-with-texture">
  <script>
    //<![CDATA[
      function acceptCookie(){
        document.cookie='accept_cookies=true';
        $('#bottom-of-site-content-background').hide();
      }
    //]]>
  </script>
  <div id="bottom-of-site-content-background" style="margin-bottom: 30px; padding: 10px 0 0">
    <div class="widget fpf-widget-count-1 footer-widget dark-widget">
      <h2>Pliki cookies</h2>
      <div>
        Serwis www.czapko.pl wykorzystuje pliki cookies, które umożliwiają i ułatwiają Państwu korzystanie z jego zasobów. W ramach witryny stosujemy pliki cookies, zapisywane na urządzeniu użytkownika, w celu logowania i podtrzymania sesji (tam, gdzie jest to wymagane) oraz w celach statystycznych. Użytkownik ma możliwość samodzielnej zmiany ustawień dotyczących cookies w swojej przeglądarce internetowej. Korzystając ze strony wyrażają Państwo zgodę na używanie plików cookies, zgodnie z ustawieniami przeglądarki.
      </div>
      <a class="right" onclick="acceptCookie()">Akceptuję cookies</a>
    </div>
  </div>
</div>
<div id="wrapper-with-texture"></div>
<div id="bottom-of-site-end"></div>
<div id="footer-100">
  <div id="footer-wrapper">
    <ul id="footermenu">
      <li class="page_item">
        <a href="/">Home</a>
        <div class="hover" style="display: none"></div>
      </li>
      <li class="page_item">
        <a href="/p">Katalog produktów</a>
      </li>
      <li class="page_item">
        <a href="/o-nas">O nas</a>
      </li>
      <li class="page_item">
        <a href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p class="footer-text">
      Powered by GEMSOFT.
    </p>
  </div>
  <script type="text/javascript">
    Cufon.now()
  </script>
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1727557-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</div>