<div id="top-background">
  <div id="headerwrap">
    <div id="head">
      <h1><a href="/"><img alt="Logo" src="/assets/images/logo.png"></a></h1>
      <div id="header-teaser">
        <img alt="Logobme" class="company-logos" height="80" src="/assets/images/LogoBME.gif">
      </div>
      <div id="navwrapp">
        <div class="roundcorners-menu" id="nav">
          <ul id="dropmenu">
            <li class="page_item">
              <a href="/">Home</a>
              <div class="hover" style="display: none"></div>
              <div class="hover"></div>
            </li>
            <li class="page_item"><a href="/p">Katalog produktów</a><div class="hover"></div></li>
            <li class="page_item"><a href="/o-nas">O nas</a><div class="hover"></div></li>
            <li class="page_item"><a href="/kontakt">Kontakt</a><div class="hover"></div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearer"></div>
</div>
