<div id="sliders-background">
  <div class="slider-background-position-top" id="slider-background">
    <div id="slider-top"></div>
    <div class="slider-shadow-left" id="slider-content">
      <div class="slider-position-left" id="slider">
        <div class="slider-container" style="height: 350px;">
          <div class="slideshow">
            <div id="slideshowHolder" style="width: 500px; height: auto; margin-top: 35px; margin-left: 10px;">
              <img src="/assets/images/slider/stix_logo_rgb.svg" style="max-width: 100%; max-height: 100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="slider-text-right" id="slider-text">
        <div class="frontpage-welcome-text slide-post-container">
          <ul class="slide-post-widget-slider" id="longanamediv" style="width: 350px; position: relative; height: 272px;">
            <div class="slide" style="width: 350px; position: absolute; top: 0px; left: 0px; height: 262px;">
              <h1>Rozwijamy dla Państwa naszą ofertę</h1>
              <br>
              <br>
              <p>
                Z dumą informujemy, że od Nowego Roku 2021 prowadzimy wyłączną dystrybucję Stix Flowmeasurment.
              </p>
              <br>
              <p>
                Nasz odświeżony asortyment produktów obejmuje technologie pomiaru przepływu dostosowane do Państwa potrzeb technicznych i ekonomicznych dostosowany do szczegółowych wymagań.
              </p>
              <br>
              <br>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
